@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #CF2E41;
    --black-color1 : #000;
    --black-color2 : #222;
    --navy-color : #0D3A92;
    --sky-color : #4391FF;
    --white-color : #fff;
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

.inner{ width:1200px; margin:0 auto; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 10px; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */

/* 스크롤 커스텀 */
/* html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;} */

/* 드래그 블록 커스텀 */
/* ::selection { background-color:var(--main-color); color:#fff; } */


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}


body{ font-family: 'Pretendard', sans-serif; font-weight: 500; font-size: 16px; letter-spacing: -0.04em; }
a{ color:inherit; }
p { word-break: keep-all; font-weight: 500; }
b { font-weight: 700; }
img{ max-width: 100%; vertical-align: top; }
.sec_top { padding-top: 80px; }
.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
/* .sec_top { padding-top: 80px; } */

/* @ header @ */
header { padding: 25px 0; width: 100%; position: fixed; top: 0; left: 0; z-index: 101; background: var(--white-color);   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
header.on h1 { display: none; }
header .inner { display: flex; justify-content: space-between; }
header h1 { display: inline-block; width: fit-content;margin: 0 auto; }
header h1 a { display: flex; align-items: center; justify-content: center; text-align: center; }
header nav {  }
header nav ul { display: flex; align-items: center; gap: 40px;}
header nav ul li { font-size: 16px; color: var(--black-color2); }
header nav ul li a {  }

@media screen and (max-width: 1250px) {
    .sec_top { padding-top: 70px; }
    header { padding: 20px 0; }
    header h1 a { width: 200px; }
    header nav ul { gap: 20px; }
}
@media screen and (max-width: 650px) {
    .sec_top { padding-top: 50px; }
    header { padding: 10px 0; }
    header .inner { padding: 0 15px; flex-direction: column; justify-content: center; gap: 10px; }
    header nav ul { width: 100%; justify-content: space-between; gap: 20px; }
    header nav ul li { font-size: 14px; }
    header h1 a { width: 140px; } 
}


/* @ main @ */
/* common */
.s_titleBox { text-align: center; }
.s_title { font-size: 18px; margin-bottom: 10px; color: var(--sky-color); }
.s_title_sub { font-size: 36px; font-weight: 700; }
.s_title_sub2 { font-size: 16px; font-weight: 700; color: #7f7f7f; }

@media screen and (max-width: 1250px) {
    .s_titleBox .leaf { width: 32px; }
    .s_title { font-size: 16px; }
    .s_title_sub { font-size: 28px; }
}
@media screen and (max-width: 650px) {
    .s_titleBox { gap: 20px; }
    .s_titleBox .leaf { width: 24px; }
    .s_title { font-size: 16px; }
    .s_title_sub { font-size: 24px; }
}
@media screen and (max-width: 500px) {
    .s_title { font-size: 3vw; }
    .s_titleBox .leaf { width: 20px; }
    .s_title_sub { font-size: 5vw; }
}


/* sec1 */
section.sec1 { background: url('../img/main/sec1/bg.jpg') no-repeat center / cover; min-height: 100vh; position: relative; }
section.sec1 .inner { }
section.sec1 .box { position: absolute; top: 45%; left: 8%; }
section.sec1 .sec1_logo {  }
section.sec1 .t1 { font-size: 54px; font-weight: 700; color: var(--white-color); }

@media screen and (max-width: 1250px) {
    section.sec1 .box { position: absolute; top: 45%; left: 5%; }
    section.sec1 .t1 { font-size: 42px; }
}
@media screen and (max-width: 720px) {
    section.sec1 { background: url('../img/main/sec1/bg720.jpg') no-repeat center / cover; }
}
@media screen and (max-width: 650px) {
    section.sec1 .t1 { font-size: 32px; }
}
@media screen and (max-width: 500px) {
    section.sec1 .t1 { font-size: 6vw; }
    section.sec1 .box { top: 34%; }
}

/* sec2 */
section.sec2 { background: #0D3A95; color: var(--white-color); }
section.sec2 .banner1 { padding: 160px 0; background: url('../img/main/sec2/bg1.jpg') no-repeat center / cover; color: var(--white-color); text-align: center; }
section.sec2 .banner1 .t1 { font-size: 36px; font-weight: 700; margin-bottom: 15px; }
section.sec2 .banner1 .t2 { font-size: 22px; line-height: 2; }

section.sec2 .s_title { color: var(--white-color); }
section.sec2 .about { padding: 80px 0; text-align: center; overflow: hidden;}
section.sec2 .about .about_logo { }
section.sec2 .about .s_titleBox { margin: 50px 0; display: flex; align-items: center; justify-content: center; gap: 40px; }

section.sec2 .aboutSwiper {  }
section.sec2 .aboutSwiper .swiper-wrapper { transition-timing-function: linear; }
section.sec2 .aboutSwiper .swiper-slide { }
section.sec2 .aboutSwiper .slide .slide_img {  }
section.sec2 .banner2 .t1 { padding: 100px 0; font-size: 28px; font-weight: 700; text-align: center; color: var(--white-color); background: url('../img/main/sec2/bg2.jpg') no-repeat center / cover; }

@media screen and (max-width: 1250px) {
    section.sec2 .banner1 { padding: 100px 0; }
    section.sec2 .banner1 .t1 { font-size: 32px; }
    section.sec2 .banner1 .t2 { font-size: 18px; }

    section.sec2 .about .about_logo { padding: 0 7vw; }
}

@media screen and (max-width: 650px) {
    section.sec2 .about .s_titleBox { gap: 20px; }
}

@media screen and (max-width: 500px) {
    section.sec2 .banner1 .t1 { font-size: 6vw; }
    section.sec2 .banner1 .t2 { font-size: 3.5vw; }
}

/* sec3 */
section.sec3 { background: #e6e6e6; text-align: center; }
section.sec3 > .inner { padding: 80px 10px; }
section.sec3 .sec3_img_pc { margin: 30px 0 80px; }
section.sec3 .pc {  }
section.sec3 .mo { display: none; }

section.sec3 .point_div { padding: 60px 0; background: #010F26; color: var(--white-color); }
section.sec3 .point_div .point_title { font-size: 24px; font-weight: 700; display: block; padding: 25px 0; background: var(--navy-color); margin-bottom: 40px; position: relative; }
section.sec3 .point_div .point_title::after { content: url('../img/main/sec3/polygon.png'); display: inline-block; width: 48px; position: absolute; top: 70px; left: 50%; transform: translateX(-50%); }
section.sec3 .point_div .point_ul { width: calc(100% + 20px); margin-left: -10px; display: flex; flex-wrap: wrap; }
section.sec3 .point_div .point_ul li { padding: 10px; width: calc(100%/5); display: flex; align-items: center; justify-content: center; aspect-ratio: 1; }
section.sec3 .point_div .point_ul li .item { width: 100%; height: 100%; border: 1px solid #43D0EF;  display: flex; align-items: center; justify-content: center; border-radius: 5px; }
section.sec3 .point_div .point_ul li .item .t1 { font-size: 18px; font-weight: 700; color: var(--sky-color); padding-bottom: 5px; border-bottom: 2px solid var(--sky-color); width: fit-content; margin: 0 auto 15px; }
section.sec3 .point_div .point_ul li .item .t2 { font-size: 18px; }
section.sec3 .point_div .point_ul li .item .box {  }


@media screen and (max-width: 1250px) {
    section.sec3 .point_div .point_ul li .item .t1 { font-size: 16px; }
    section.sec3 .point_div .point_ul li .item .t2 { font-size: 16px; }
    section.sec3 .point_div .point_title { padding: 20px 0; font-size: 20px; }
    section.sec3 .point_div .point_title::after { top: 55px; }
}
@media screen and (max-width: 850px) {
    section.sec3 .point_div .point_ul { justify-content: center; }
    section.sec3 .point_div .point_ul li { width: calc(100%/3); }
}
@media screen and (max-width: 650px) {
    section.sec3 .pc { display: none; }
    section.sec3 .mo { display: block; }
    section.sec3 .sec3_img_mo { margin: 30px auto 80px; }
    
}
@media screen and (max-width: 500px) {
    section.sec3 .point_div .point_ul li { width: calc(100%/2); }
    section.sec3 .point_div .point_ul li .item .t1 { font-size: 4vw; }
    section.sec3 .point_div .point_ul li .item .t2 { font-size: 4vw; }
    section.sec3 .point_div .point_title { font-size: 4.5vw; }
}

/* sec4 */
section.sec4 { padding: 150px 0; background: url('../img/main/sec4/bg.jpg') no-repeat center / cover; color: var(--white-color); }
section.sec4 .sec4_slide { color: var(--white-color); overflow: hidden; margin: 50px 0 150px; }
section.sec4 .sec4_slide .swiper-wrapper { transition-timing-function: linear; }
section.sec4 .sec4_slide .swiper-slide { width: 392px !important; }
section.sec4 .sec4_slide .slide .reviewBox { height: 442px; background: #222; padding: 40px 25px; border-radius: 5px; }
section.sec4 .sec4_slide .slide .reviewBox .r_icon  {  }
section.sec4 .sec4_slide .slide .reviewBox .t1  { margin: 20px 0; font-size: 18px; font-weight: bold; }
section.sec4 .sec4_slide .slide .reviewBox .t1 .blue  { color: var(--sky-color); }
section.sec4 .sec4_slide .slide .reviewBox .name {  }
section.sec4 .sec4_slide .slide .reviewBox .name b { font-size: 22px; margin-right: 10px; }
section.sec4 .sec4_slide .slide .reviewBox .name span { font-size: 16px; color: #7f7f7f; }

section.sec4 .sec4_video_slide { overflow: hidden; }
section.sec4 .sec4_video_slide .videoSwiper {  }
section.sec4 .sec4_video_slide .videoSwiper .swiper-wrapper { transition-timing-function: linear;  }
section.sec4 .sec4_video_slide .videoSwiper .swiper-wrapper .slide { }
section.sec4 .sec4_video_slide .item { text-align: center; }
section.sec4 .sec4_video_slide .item .videoBox { width: 100%; height: 312px; border-radius: 10px; overflow: hidden; }
section.sec4 .sec4_video_slide .item .t1 { font-size: 16px; font-weight: 700; margin-top: 20px; }

/* section.sec4 .video_div {  }
section.sec4 .video_div .video_ul { width: calc(100% + 30px); margin-left: -15px; display: flex; flex-wrap: wrap; }
section.sec4 .video_div .video_ul .video_list { padding: 15px; width: calc(100%/4); text-align: center; color: var(--white-color); }
section.sec4 .video_div .video_ul .video_list .videoBox { height: 326px; border-radius: 10px; overflow: hidden; }
section.sec4 .video_div .video_ul .video_list .t1 { margin-top: 15px; font-weight: bold; font-size: 16px; }

.video_btn_div { padding: 35px 35px; width: fit-content; display: flex; align-items: center; justify-content: center; gap: 40px;  background: var(--black-color2); color: var(--white-color); border-radius: 20px; margin: 30px auto 0; }
.video_btn_div .t1 { font-size: 18px; }
.video_btn_div .videoBtn { padding: 5px 20px; background: var(--navy-color); border-radius: 100px; border: none; color: var(--white-color); } */

@media screen and (max-width: 1250px) {
    section.sec4 .sec4_slide .slide .reviewBox { height: auto; }
    section.sec4 .sec4_slide .slide .reviewBox .t1 { font-size: 16px; }
    section.sec4 .sec4_slide .slide .reviewBox .name b { font-size: 20px; }
}

@media screen and (max-width: 650px) {
    section.sec4 { padding: 16vw 0; }
    section.sec4 .sec4_slide .slide .reviewBox .t1 { margin: 10px 0; }
    section.sec4 .sec4_slide { margin: 20px 0 13vw; }
}
@media screen and (max-width: 500px) {
    section.sec4 .sec4_slide .slide .reviewBox .r_icon { width: 24px; }
    section.sec4 .sec4_slide .slide .reviewBox .t1 { font-size: 14px; }
    section.sec4 .sec4_slide .slide .reviewBox { padding: 20px; }
    section.sec4 .sec4_slide .slide .reviewBox .name b { font-size: 16px; }
    section.sec4 .sec4_slide .slide .reviewBox .name span { font-size: 14px; }
}

/* sec5 */
section.sec5 { padding: 150px 0; background: linear-gradient(180deg, rgba(134, 134, 134, 0.00) 50%, #868686 100%), #0F0F0F; color: var(--white-color ); position: relative; overflow: hidden; }
section.sec5 .sec5_img { position: absolute; bottom: 90px; right: 50px; }
section.sec5 .sec5_slide { margin-top: 30px; position: relative; }
section.sec5 .sec5_slide .direcBox { width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: flex; align-items: center; justify-content: center; z-index: 2; }
section.sec5 .imgBox { text-align: center; }

@media screen and (max-width: 650px) {
    section.sec5 { padding: 14vw 0; }
}

/* sec6 */
section.sec6 { padding: 200px 0; background: url('../img/main/sec6/bg.jpg') no-repeat center / cover; color: var(--white-color); }
section.sec6 .s_titleBox { text-align: left; margin-bottom: 25px; }

section.sec6 .con { display: flex;  justify-content: space-between;}
section.sec6 .con .mapBox { max-width: 680px; width: 100%;  border-radius: 10px; overflow: hidden; }

section.sec6 .con .formBox { padding: 50px 30px 30px; background: var(--white-color); border-radius: 10px; }
section.sec6 .con .formBox .formList {  }
section.sec6 .con .formBox .formList > li { font-weight: 400; color: var(--black-color1); }

section.sec6 .con .formBox .agreeCheckDiv {  }

section.sec6 .con .formBox .formBtn { display: block; margin: 25px auto 0; width: 270px; padding: 13px 0; font-size: 14px; background: var(--navy-color); color: var(--white-color); font-weight: 700; border: none; border-radius: 100px; }

section.sec6 .con .formBox .sec6_logo { text-align: center; margin: 0 auto 40px; display: block; }
section.sec6 .edu {  }
section.sec6 .edu .t1 { font-size: 16px; font-weight: 400; color: var(--black-color1); margin-bottom: 10px; }
section.sec6 .edu .t1 span { color: #EB5757; }
section.sec6 .edu .edu_1 { width: 100%; display: flex;color: var(--black-color1); gap: 10px; }
section.sec6 .edu .edu_1 li { padding: 10px 0; width: calc(100%/3); text-align: center; font-size: 14px; font-weight: 700; border-radius: 5px; border: 1px solid #E4E4E4; cursor: pointer; }
section.sec6 .edu .edu_1 li.on { color: var(--white-color); background: var(--black-color1); }

section.sec6 .circleDiv { padding: 20px 0; border-bottom: 1px solid #E4E4E4; color: var(--black-color1); display: flex; gap: 20px; }
section.sec6 .circleDiv label { display: flex; gap: 8px; }



@media screen and (max-width: 1250px) {
    section.sec6 .s_title_sub { text-align: center; }
    section.sec6 .con {  flex-direction: column; gap: 50px; }
    section.sec6 .con .mapBox { max-width: 800px; height: 500px; margin: 0 auto; }
    section.sec6 .con .formBox { max-width: 800px; width: 100%; margin: 0 auto; }
}
@media screen and (max-width: 800px) {
    section.sec6 .con .mapBox { height: 60vw; }
}
@media screen and (max-width: 650px) {
    section.sec6 { padding: 16vw 0; }
    section.sec6 .con .formBox .sec6_logo { width: 130px; margin: 0 auto 30px; }
}
@media screen and (max-width: 500px) {
    section.sec6 .con .formBox { padding: 30px 20px; }
    section.sec6 .con .formBox .sec6_logo { width: 100px; }
    section.sec6 .edu .t1 { font-size: 14px; }
    section.sec6 .circleDiv { display: flex; flex-wrap: wrap; }
    section.sec6 .cricleList { font-size: 14px; }
    section.sec6 .con .formBox .formBtn { width: 100%; }
    section.sec6 .con { gap: 25px; }
}

/* sec7 */
section.sec7 { padding: 150px 0; background: var(--navy-color); color: var(--white-color); text-align: center; }
section.sec7 img {  }
section.sec7 .stick { width: 80px; height: 4px; background:  var(--white-color); display: block; margin: 40px auto; }
section.sec7 b { font-size: 24px; }



@media screen and (max-width: 1250px) {
    section.sec7 img { width: 380px; }
    section.sec7 b { font-size: 20px; }
    section.sec7 .stick { width: 60px; height: 2px; }
}

@media screen and (max-width: 650px) {
    section.sec7 { padding: 13vw 0;}
    section.sec7 img { width: 300px; }
    section.sec7 b { font-size: 18px; }
    section.sec7 .stick { margin: 20px auto; }
}
@media screen and (max-width: 500px) {
    section.sec7 img { width: 260px; }
    section.sec7 b { font-size: 16px; }
    section.sec7 .stick { margin: 20px auto; }
}

/* @ footer @ */
footer { padding: 50px 0; background: var(--black-color2); color: var(--white-color); }
footer .inner { display: flex; flex-direction: column; }
footer .box1 { display: flex; justify-content: space-between; align-items: center; }
footer .box1 b { font-size: 18px; color: #7f7f7f; }

footer .box2 {  }
footer .box2 ul { margin: 20px 0 30px; display: flex; }
footer .box2 ul li { color: #A7A7A7; }
footer .box2 ul li:not(:last-child)::after { content: ''; width: 2px; height: 15px; background: #A7A7A7; display: inline-block; margin: 0 10px; position: relative; top: 2px; }
footer .box2 .copyright { font-size: 14px; font-weight: 400; color: #A7A7A7; }

@media screen and (max-width: 1250px) {
    footer h1 { width: 200px; }
    footer .box1 b { font-size: 16px; }
    footer .box2 ul li { font-size: 14px; }
    footer .box2 ul li:not(:last-child)::after { height: 12px; }
    footer .box2 .copyright { font-size: 12px; }
}
@media screen and (max-width: 1000px) {
    footer .box2 ul { flex-direction: column; gap: 10px; }
    footer .box2 ul li:not(:last-child)::after { display: none; }
}
@media screen and (max-width: 500px) {
    footer h1 { width: 180px; }
    footer .box1 { flex-direction: column; align-items: flex-start; gap: 20px; }
}

/* float_menu */
.float_menu { position: fixed; bottom: 100px; right: 80px; z-index: 99; }
.float_menu .box { }
.float_menu ul { position: fixed; right: 80px; bottom: 190px; overflow: hidden; padding: 20px 10px; background: var(--white-color); border-radius: 100px; display: flex; align-items: center; justify-content: center; flex-direction: column;  display: flex; flex-direction: column; align-items: center; gap: 15px; padding-bottom: 30px; transition: max-height .5s , padding .5s, bottom .5s; max-height: 400px; }
.float_menu.hide ul{ padding: 0 10px; max-height: 0px; bottom: 140px; }
.float_menu ul li {  }
.float_menu ul li.stick { width: 62px; height: 1px; background: #d9d9d9; display: block; }
.float_menu ul li a { display: flex; flex-direction: column; align-items: center; gap: 5px; }
.float_menu ul li a img {  }
.float_menu ul li a b { font-size: 14px; color: var(--black-color2); }
.float_menu .btnBox { right: 80px; border-radius: 50%; position: fixed; width: 82px; bottom: 100px; width: 82px; height: 82px; background: var(--white-color); cursor: pointer;  display: flex; align-items: center; justify-content: center; box-shadow: 0 4px 6px rgba(0,0,0,0.2); }
/* .float_menu .f_click.on {  display: block; }
.float_menu .f_click {  display: none; } */
/* .float_menu.hide .box{ height: 82px; } */
.float_menu .box.on { width: 80px; height: 80px; }
.float_menu .btnBox img{ transition: transform .5s; }
.float_menu.hide .btnBox img{ transform: rotate(135deg); }

@media screen and (max-width: 1250px) {
    .float_menu .btnBox {  right: 40px; width: 60px; height: 60px;  }
    .float_menu ul li a b { font-size: 12px; }
    .float_menu ul { padding: 20px 5px; right: 35px; bottom: 170px; }
    .float_menu ul li a img { width: 24px; }
}
@media screen and (max-width: 500px) {
    .float_menu ul { right: 20px; }
    .float_menu.hide ul{ padding: 0 5px; max-height: 0px; bottom: 170px; }
    .float_menu ul li a b { display: none; }
    .float_menu ul li.stick { width: 42px; }
    .float_menu .btnBox { width: 50px; height: 50px; right: 22px; bottom: 110px; }
}
